POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=telecom_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

HDFS_NAMENODE_URL=hdfs://namenode:9000
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SPARK_MASTER_URL=spark://spark-master:7077

AIRFLOW_WEBSERVER_PORT=8080
AIRFLOW_FERNET_KEY=   # generate bằng: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"

DBT_PROFILES_DIR=~/.dbt
